Repository Hyperpolymath/Anamnesis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup:ocaml, setup:elixir, setup:julia, setup:rescript, build:parser, build:orchestrator, build:learning, build:visualization, test:parser, test:orchestrator, test:learning, test:visualization, lint:elixir, lint:markdown

Path conditions:
  setup:ocaml: any of: parser/**/*, .gitlab-ci.yml
  setup:elixir: any of: orchestrator/**/*, .gitlab-ci.yml
  setup:julia: any of: learning/**/*, .gitlab-ci.yml
  setup:rescript: any of: visualization/**/*, .gitlab-ci.yml
  build:parser: any of: parser/**/*, .gitlab-ci.yml
  build:orchestrator: any of: orchestrator/**/*, .gitlab-ci.yml
  build:learning: any of: learning/**/*, .gitlab-ci.yml
  build:visualization: any of: visualization/**/*, .gitlab-ci.yml
  test:parser: any of: parser/**/*, .gitlab-ci.yml
  test:orchestrator: any of: orchestrator/**/*, .gitlab-ci.yml
  test:learning: any of: learning/**/*, .gitlab-ci.yml
  test:visualization: any of: visualization/**/*, .gitlab-ci.yml
  lint:elixir: any of: orchestrator/**/*, .gitlab-ci.yml
  lint:markdown: any of: **.md, .gitlab-ci.yml

chore: sync
  .github/FUNDING.yml
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/generator-generic-ossf-slsa3-publish.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/mirror.yml
  .github/workflows/npm-bun-blocker.yml
  .github/workflows/quality.yml
  .github/workflows/rsr-antipattern.yml
  .github/workflows/scorecard-enforcer.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/security-policy.yml
  .github/workflows/ts-blocker.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
  .machine_readable/AGENTIC.scm
  .machine_readable/ECOSYSTEM.scm
  .machine_readable/META.scm
  .machine_readable/NEUROSYM.scm
  .machine_readable/PLAYBOOK.scm
  .machine_readable/STATE.scm
  CHANGELOG.adoc
  CONTRIBUTING.adoc
  MAINTAINERS.adoc
  PALIMPSEST.adoc
  README.adoc
  ROADMAP.adoc
Due: none

general update
  ABI-FFI-README.md
  AI.a2ml
  AI.djot
  RSR_OUTLINE.adoc
  ai-cli-crash-capture/README.adoc
  ai-cli-crash-capture/bash/recoverer.sh
  ai-cli-crash-capture/recoverer-setup.sh
  ai-cli-crash-capture/systemd/terminal-recoverer-coredump.service
  ai-cli-crash-capture/systemd/terminal-recoverer.service
  contractiles/README.adoc
  contractiles/dust/Dustfile
  contractiles/k9/README.adoc
  contractiles/k9/examples/ci-config.k9.ncl
  contractiles/k9/examples/project-metadata.k9.ncl
  contractiles/k9/examples/setup-repo.k9.ncl
  contractiles/k9/template-hunt.k9.ncl
  contractiles/k9/template-kennel.k9.ncl
  contractiles/k9/template-yard.k9.ncl
  contractiles/lust/Intentfile
  contractiles/must/Mustfile
  contractiles/trust/Trustfile.hs
  examples/SafeDOMExample.res
  examples/web-project-deno.json
  ffi/zig/build.zig
  ffi/zig/src/main.zig
  ffi/zig/test/integration_test.zig
  src/abi/Foreign.idr
  src/abi/Layout.idr
  src/abi/Types.idr
Due: lint:markdown

fix: remove duplicate SCM files from root
  ECOSYSTEM.scm
  META.scm
  STATE.scm
Due: none

chore: remove crash capture artifacts, update .gitignore
  .gitignore
  ai-cli-crash-capture/README.adoc
  ai-cli-crash-capture/bash/recoverer.sh
  ai-cli-crash-capture/recoverer-setup.sh
  ai-cli-crash-capture/systemd/terminal-recoverer-coredump.service
  ai-cli-crash-capture/systemd/terminal-recoverer.service
Due: none

Auto-commit: Sync changes [2026-02-21]
  README.adoc
  TOPOLOGY.md
  learning/src/AnamnesisAnalytics.jl
  learning/src/graphs/analysis.jl
  learning/src/graphs/conversion.jl
  learning/src/port_interface.jl
  learning/src/rdf/schema.jl
  learning/src/rdf/serialization.jl
  learning/src/rdf/sparql.jl
  learning/src/rdf/virtuoso.jl
  learning/src/reservoir/embeddings.jl
  learning/src/reservoir/esn.jl
  learning/test/runtests.jl
  orchestrator/lib/anamnesis/application.ex
  orchestrator/lib/anamnesis/pipelines/ingestion_pipeline.ex
  orchestrator/lib/anamnesis/port_supervisor.ex
  orchestrator/lib/anamnesis/ports/julia_port.ex
  orchestrator/lib/anamnesis/ports/lambda_prolog_port.ex
  orchestrator/lib/anamnesis/ports/parser_port.ex
  orchestrator/lib/anamnesis/virtuoso/client.ex
  visualization/src/transforms/ColorMixing.res
  visualization/src/types/Domain.res
Due: setup:elixir, setup:julia, setup:rescript, build:orchestrator, build:learning, build:visualization, test:orchestrator, test:learning, test:visualization, lint:elixir, lint:markdown

Auto-commit: Sync changes [2026-02-24]
  src/abi/Foreign.idr
Due: none

fix: security hardening, a2ml pivot, and metadata synchronization
  .machine_readable/ECOSYSTEM.a2ml
  .machine_readable/META.a2ml
  .machine_readable/STATE.a2ml
  CHANGELOG.md
  justfile
Due: lint:markdown

fix: resolve Scorecard alerts for Token-Permissions and Pinned-Dependencies
  .github/workflows/codeql.yml
  .github/workflows/generator-generic-ossf-slsa3-publish.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/mirror.yml
  .github/workflows/npm-bun-blocker.yml
  .github/workflows/quality.yml
  .github/workflows/rsr-antipattern.yml
  .github/workflows/scorecard-enforcer.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/security-policy.yml
  .github/workflows/ts-blocker.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
Due: none

Auto-commit: Sync changes [2026-03-05]
  Justfile
  examples/web-project-deno.json
  visualization/package.json
  visualization/rescript.json
Due: setup:rescript, build:visualization, test:visualization

chore: hypatia auto-fix (1 formulaic fixes)
  .github/workflows/generator-generic-ossf-slsa3-publish.yml
Due: none

Standardise license setup: MPL-2.0 + PMPL-1.0-or-later (REUSE)
  LICENSES/MPL-2.0.txt
  LICENSES/PMPL-1.0-or-later.txt
  NOTICE
Due: none

chore: sync local changes
  .hypatia/activity.jsonl
  .hypatia/last-visit.json
Due: none

chore: RSR compliance — AGPL→PMPL license, fix author attribution in CITATIONS
  LICENSE
  docs/CITATIONS.adoc
Due: none

chore: RSR compliance — delete AI.djot, rename AI manifest, remove stale files
  0-AI-MANIFEST.a2ml
  AI.djot
  CONTRIBUTING.adoc
Due: none

fix(license): SPDX AGPL-3.0 → PMPL-1.0-or-later in dotfiles
  .gitattributes
  .gitignore
Due: none

refactor: migrate 6SCM → 6A2 (.scm → .a2ml format)
  .machine_readable/ECOSYSTEM.a2ml
  .machine_readable/ECOSYSTEM.scm
  .machine_readable/META.a2ml
  .machine_readable/META.scm
  .machine_readable/STATE.a2ml
  .machine_readable/STATE.scm
Due: none

fix: SPDX headers (AGPL→PMPL), email, author name
  examples/SafeDOMExample.res
  ffi/zig/build.zig
  ffi/zig/src/main.zig
  ffi/zig/test/integration_test.zig
  learning/src/graphs/analysis.jl
  learning/src/reservoir/esn.jl
Due: setup:julia, build:learning, test:learning

Replace RSR template placeholders with actual values
  ABI-FFI-README.md
Due: lint:markdown

Fix SPDX headers: AGPL-3.0-or-later → PMPL-1.0-or-later
  Mustfile
Due: none

fix: correct email jonathan.jewell → j.d.a.jewell
  contractiles/k9/examples/ci-config.k9.ncl
  contractiles/k9/examples/project-metadata.k9.ncl
  contractiles/k9/examples/setup-repo.k9.ncl
  contractiles/k9/template-hunt.k9.ncl
  contractiles/k9/template-kennel.k9.ncl
  contractiles/k9/template-yard.k9.ncl
  learning/src/AnamnesisAnalytics.jl
Due: setup:julia, build:learning, test:learning

migrate: .scm → .a2ml state files in .machine_readable/
  .machine_readable/AGENTIC.a2ml
  .machine_readable/AGENTIC.scm
  .machine_readable/NEUROSYM.a2ml
  .machine_readable/NEUROSYM.scm
  .machine_readable/PLAYBOOK.a2ml
  .machine_readable/PLAYBOOK.scm
Due: none

ci: deploy missing standard workflows (1 added)
  .github/workflows/instant-sync.yml
Due: none

chore: restructure 6a2ml files into .machine_readable/6a2/
  .machine_readable/6a2/AGENTIC.a2ml
  .machine_readable/6a2/ECOSYSTEM.a2ml
  .machine_readable/6a2/META.a2ml
  .machine_readable/6a2/NEUROSYM.a2ml
  .machine_readable/6a2/PLAYBOOK.a2ml
  .machine_readable/6a2/STATE.a2ml
Due: none

chore: add SPDX headers to source files
  src/abi/Foreign.idr
  src/abi/Layout.idr
  src/abi/Types.idr
Due: none

chore: clean up legacy Trustfile.hs, example Trustfiles, and AI.djot files
  .machine_readable/contractiles/trust/Trustfile.a2ml
  contractiles/trust/Trustfile.hs
Due: none

feat: add CLADE.a2ml — clade taxonomy declaration
  .machine_readable/CLADE.a2ml
Due: none

chore: update manifest paths to .machine_readable/6a2/
  .claude/CLAUDE.md
Due: none

chore: RSR sync and mass repository update
  contractiles/k9/README.adoc
Due: none

chore: Big Unification — attach to BoJ Server / Casket architecture
  .github/workflows/boj-build.yml
  .machine_readable/anchors/ANCHOR.a2ml
Due: none

chore: Big Unification — attach to BoJ Server / Casket architecture
  .github/workflows/boj-build.yml
Due: none

chore(ci): maximize ci/cd values via dependabot and permissions
  .github/workflows/boj-build.yml
Due: none

fix(ci): Resolve workflow-linter self-matching and metadata issues
  .github/workflows/boj-build.yml
  .github/workflows/workflow-linter.yml
Due: none

fix(scorecard): enforce granular permissions and add fuzzing placeholder
  .github/workflows/boj-build.yml
  .github/workflows/codeql.yml
  .github/workflows/generator-generic-ossf-slsa3-publish.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/mirror.yml
  .github/workflows/npm-bun-blocker.yml
  .github/workflows/quality.yml
  .github/workflows/rsr-antipattern.yml
  .github/workflows/scorecard-enforcer.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/security-policy.yml
  .github/workflows/ts-blocker.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
  tests/fuzz/placeholder.txt
Due: none

chore(floor-raise): add foundational tool integrations
  .machine_readable/contractiles/dust/Dustfile.a2ml
  .machine_readable/integrations/feedback-o-tron.a2ml
  .machine_readable/integrations/proven.a2ml
  .machine_readable/integrations/verisimdb.a2ml
  .machine_readable/integrations/vexometer.a2ml
  justfile
Due: none

docs: add EXPLAINME.adoc — prove-it file backing README claims
  EXPLAINME.adoc
Due: none

chore: standardise, Justfile, (rename,, fix, parse, errors,, remove, useless, commands)
  Justfile
  justfile
Due: none

chore: add agent_instructions methodology layer
  .machine_readable/agent_instructions/README.adoc
  .machine_readable/agent_instructions/coverage.a2ml
  .machine_readable/agent_instructions/debt.a2ml
  .machine_readable/agent_instructions/methodology.a2ml
Due: none

chore: add UX infrastructure (quickstart, doctor, setup)
  Justfile
  QUICKSTART-DEV.adoc
  QUICKSTART-MAINTAINER.adoc
  QUICKSTART-USER.adoc
  contractiles/intend/Intentfile.a2ml
  contractiles/trust/Trustfile.a2ml
  setup.sh
Due: none

feat: deploy UX Manifesto infrastructure
  .machine_readable/ADJUST.contractile
  .machine_readable/INTENT.contractile
  .machine_readable/MUST.contractile
  .machine_readable/TRUST.contractile
  flake.nix
  guix.scm
  llm-warmup-dev.md
  llm-warmup-user.md
Due: lint:markdown

chore: deploy UX infrastructure (contractile.just, .well-known, manifest)
  .well-known/ai.txt
  .well-known/humans.txt
  .well-known/security.txt
  contractile.just
Due: none
