Repository Hyperpolymath/Anamnesis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup:ocaml, setup:elixir, setup:julia, setup:rescript, build:parser, build:orchestrator, build:learning, build:visualization, test:parser, test:orchestrator, test:learning, test:visualization, lint:elixir, lint:markdown

setup:ocaml:
  stage: setup
  image: ocaml/opam:alpine-ocaml-5.1
  script:
  - cd parser
  - opam install --deps-only . --yes
  cache:
    key: ocaml-deps
    paths:
    - parser/.opam/
  artifacts:
    paths:
    - parser/.opam/
    expire_in: 1 hour

setup:elixir:
  stage: setup
  image: elixir:1.15-alpine
  before_script:
  - mix local.hex --force
  - mix local.rebar --force
  script:
  - cd orchestrator
  - mix deps.get
  cache:
    key: elixir-deps
    paths:
    - orchestrator/deps/
    - orchestrator/_build/
  artifacts:
    paths:
    - orchestrator/deps/
    expire_in: 1 hour

setup:julia:
  stage: setup
  image: julia:1.10-alpine
  script:
  - cd learning
  - julia --project=. -e 'using Pkg; Pkg.instantiate()'
  cache:
    key: julia-deps
    paths:
    - learning/Manifest.toml
  artifacts:
    paths:
    - learning/Manifest.toml
    expire_in: 1 hour

setup:rescript:
  stage: setup
  image: node:18-alpine
  script:
  - cd visualization
  - npm ci
  cache:
    key: node-deps
    paths:
    - visualization/node_modules/
  artifacts:
    paths:
    - visualization/node_modules/
    expire_in: 1 hour

build:parser:
  stage: build
  image: ocaml/opam:alpine-ocaml-5.1
  dependencies:
  - setup:ocaml
  script:
  - cd parser
  - dune build
  artifacts:
    paths:
    - parser/_build/
    expire_in: 1 day

build:orchestrator:
  stage: build
  image: elixir:1.15-alpine
  dependencies:
  - setup:elixir
  before_script:
  - mix local.hex --force
  - mix local.rebar --force
  script:
  - cd orchestrator
  - mix compile --warnings-as-errors
  artifacts:
    paths:
    - orchestrator/_build/
    expire_in: 1 day

build:learning:
  stage: build
  image: julia:1.10-alpine
  dependencies:
  - setup:julia
  script:
  - cd learning
  - julia --project=. -e 'using AnamnesisAnalytics; println("✓ Module loads")'

build:visualization:
  stage: build
  image: node:18-alpine
  dependencies:
  - setup:rescript
  script:
  - cd visualization
  - npm run res:build
  artifacts:
    paths:
    - visualization/src/**/*.bs.js
    expire_in: 1 day

test:parser:
  stage: test
  image: ocaml/opam:alpine-ocaml-5.1
  dependencies:
  - build:parser
  script:
  - cd parser
  - dune runtest || echo "⚠ No tests yet (starter code)"
  allow_failure: true

test:orchestrator:
  stage: test
  image: elixir:1.15-alpine
  dependencies:
  - build:orchestrator
  before_script:
  - mix local.hex --force
  - mix local.rebar --force
  script:
  - cd orchestrator
  - mix test || echo "⚠ No tests yet (starter code)"
  allow_failure: true
  coverage: /\d+\.\d+% \| Total/

test:learning:
  stage: test
  image: julia:1.10-alpine
  dependencies:
  - build:learning
  script:
  - cd learning
  - julia --project=. test/runtests.jl || echo "⚠ No tests yet (starter code)"
  allow_failure: true

test:visualization:
  stage: test
  image: node:18-alpine
  dependencies:
  - build:visualization
  script:
  - cd visualization
  - npm test || echo "⚠ No tests yet (starter code)"
  allow_failure: true

fix: restore the trailing newline
  .machine_readable/agent_instructions/methodology.a2ml
Due: none

chore(ci): make Scorecard periodic — drop push and pull_request triggers
  .github/workflows/scorecard.yml
Due: none

fix(codeql): analyse the languages this repository actually has
  .github/workflows/codeql.yml
Due: none

chore(governance): declare the banned-language migration backlog
  .hypatia-ignore
Due: none

chore(ci): make Scorecard periodic, not per-push (#67)
  .github/workflows/scorecard.yml
Due: none

chore(governance): declare the banned-language migration backlog (#68)
  .hypatia-ignore
Due: none

fix(codeql): analyse the languages this repository actually has (#66)
  .github/workflows/codeql.yml
Due: none

fix(ci): update reusable workflow pins to @892497fe + remove excessive job permissions
  .github/workflows/main-estate-audit.yml
  .github/workflows/mirror.yml
Due: none

fix(ci): update reusable workflow pins to @892497fe + remove excessive job permissions (#70)
  .github/workflows/boj-build.yml
  .github/workflows/casket-pages.yml
  .github/workflows/codeql.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/generator-generic-ossf-slsa3-publish.yml
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/instant-sync.yml
  .github/workflows/main-estate-audit.yml
  .github/workflows/mirror.yml
  .github/workflows/pages.yml
  .github/workflows/push-email-notify.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/workflow-linter.yml
  guix.scm
Due: none

fix(ci): update reusable workflow pins to @892497fe + remove guix.scm placeholder
  .github/workflows/secret-scanner.yml
  guix.scm
Due: none

fix(ci): update reusable workflow pins to @892497fe + remove guix.scm placeholder (#72)
  .github/workflows/secret-scanner.yml
  guix.scm
Due: none

fix(ci): update reusable workflow SHAs to @7fdc2705df74b4e352d2a1cde3e87a5923fdf329
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/scorecard.yml
Due: none

chore(nix->guix): delete Nix estate-wide (#138)
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/secret-scanner.yml
  .gitlab-ci.yml
Due: setup:ocaml, setup:elixir, setup:julia, setup:rescript, build:parser, build:orchestrator, build:learning, build:visualization, test:parser, test:orchestrator, test:learning, test:visualization, lint:elixir, lint:markdown

refactor: eradicate ReScript and mechanically port to AffineScript
  visualization/rescript.json
  visualization/src/__tests__/ColorMixing_test.affine
  visualization/src/__tests__/ColorMixing_test.res
  visualization/src/__tests__/Domain_test.affine
  visualization/src/__tests__/Domain_test.res
  visualization/src/transforms/ColorMixing.affine
  visualization/src/transforms/ColorMixing.res
  visualization/src/types/Domain.affine
  visualization/src/types/Domain.res
Due: setup:rescript, build:visualization, test:visualization

chore: global textual eradication of Nix and ReScript
  .claude/CLAUDE.md
  .gitlab-ci.yml
  ABI-FFI-README.md
  CHANGELOG.adoc
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  Justfile
  MAINTAINERS.md
  README.adoc
  ROADMAP.adoc
  RSR_OUTLINE.adoc
  SECURITY.md
  TOPOLOGY.md
  docs/AUTONOMOUS_SESSION_SUMMARY.adoc
  docs/OFFLINE_FIRST.md
  docs/RSR_COMPLIANCE_AUDIT.md
  docs/architecture/system-architecture.adoc
  docs/research/julia-reservoir-computing.adoc
  docs/research/rescript-visualization.adoc
  examples/web-project-deno.json
  visualization/README.md
  visualization/deno.json
Due: setup:ocaml, setup:elixir, setup:julia, setup:rescript, build:parser, build:orchestrator, build:learning, build:visualization, test:parser, test:orchestrator, test:learning, test:visualization, lint:elixir, lint:markdown

refactor: semantically port to AffineScript
  visualization/src/__tests__/ColorMixing_test.affine
  visualization/src/__tests__/Domain_test.affine
  visualization/src/transforms/ColorMixing.affine
  visualization/src/types/Domain.affine
Due: setup:rescript, build:visualization, test:visualization

refactor: semantic port to AffineScript (#75)
  visualization/src/__tests__/ColorMixing_test.affine
  visualization/src/__tests__/Domain_test.affine
  visualization/src/transforms/ColorMixing.affine
  visualization/src/types/Domain.affine
Due: setup:rescript, build:visualization, test:visualization

refactor: mechanically eradicate TypeScript/Deno and port to AffineScript/Bun
  visualization/deno.json
Due: setup:rescript, build:visualization, test:visualization

refactor: eradicate TypeScript and NPM/Deno configs (#77)
  visualization/deno.json
Due: setup:rescript, build:visualization, test:visualization

refactor: migrate repository documentation from Markdown to AsciiDoc
  ABI-FFI-README.adoc
  ARCHITECTURE.adoc
  ARCHITECTURE.md
  CHANGELOG.adoc
  CHANGELOG.md
  CODE_OF_CONDUCT.adoc
  CODE_OF_CONDUCT.md
  CONTRIBUTING.adoc
  CONTRIBUTING.md
  GOVERNANCE.adoc
  GOVERNANCE.md
  MAINTAINERS.adoc
  MAINTAINERS.md
  PROOF-NEEDS.adoc
  PROOF-NEEDS.md
  SECURITY.adoc
  SECURITY.md
  TEST-NEEDS.adoc
  TEST-NEEDS.md
  TOPOLOGY.adoc
  docs/OFFLINE_FIRST.adoc
  docs/RSR_COMPLIANCE_AUDIT.adoc
  docs/RSR_COMPLIANCE_AUDIT.md
  docs/tech-debt-2026-05-26.adoc
  docs/tech-debt-2026-05-26.md
  learning/README.adoc
  llm-warmup-dev.adoc
  llm-warmup-dev.md
  llm-warmup-user.adoc
  llm-warmup-user.md
  orchestrator/README.adoc
  parser/README.adoc
  reasoning/README.adoc
  visualization/README.adoc
Due: setup:ocaml, setup:elixir, setup:julia, setup:rescript, build:parser, build:orchestrator, build:learning, build:visualization, test:parser, test:orchestrator, test:learning, test:visualization, lint:elixir, lint:markdown

refactor: migrate Markdown to AsciiDoc (#79)
  ABI-FFI-README.adoc
  ARCHITECTURE.adoc
  ARCHITECTURE.md
  CHANGELOG.adoc
  CHANGELOG.md
  CODE_OF_CONDUCT.adoc
  CODE_OF_CONDUCT.md
  CONTRIBUTING.adoc
  CONTRIBUTING.md
  GOVERNANCE.adoc
  GOVERNANCE.md
  MAINTAINERS.adoc
  MAINTAINERS.md
  PROOF-NEEDS.adoc
  PROOF-NEEDS.md
  SECURITY.adoc
  SECURITY.md
  TEST-NEEDS.adoc
  TEST-NEEDS.md
  TOPOLOGY.adoc
  docs/OFFLINE_FIRST.adoc
  docs/RSR_COMPLIANCE_AUDIT.adoc
  docs/RSR_COMPLIANCE_AUDIT.md
  docs/tech-debt-2026-05-26.adoc
  docs/tech-debt-2026-05-26.md
  learning/README.adoc
  llm-warmup-dev.adoc
  llm-warmup-dev.md
  llm-warmup-user.adoc
  llm-warmup-user.md
  orchestrator/README.adoc
  parser/README.adoc
  reasoning/README.adoc
  visualization/README.adoc
Due: setup:ocaml, setup:elixir, setup:julia, setup:rescript, build:parser, build:orchestrator, build:learning, build:visualization, test:parser, test:orchestrator, test:learning, test:visualization, lint:elixir, lint:markdown

fix(scripts): repoint checks at the .adoc files that exist
  scripts/rsr_compliance_check.sh
Due: none

Update scripts/rsr_compliance_check.sh
  scripts/rsr_compliance_check.sh
Due: none

fix(scripts): repoint doc checks at files that exist + make increments set -e safe
  scripts/rsr_compliance_check.sh
Due: none

fix(scripts): repoint checks at the .adoc files that exist (#80)
  scripts/rsr_compliance_check.sh
Due: none

policy: Bun is tier 1, Deno is being removed — correct local CLAUDE.md
  .claude/CLAUDE.md
Due: none

policy: address review — drop the .ts contradiction, ban Deno, pin bunx
  .claude/CLAUDE.md
Due: none

fix(ci): repin standards reusables to a commit that has a lockfile
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/mirror.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
Due: none

fix(ci): repin standards reusables to a commit that has a lockfile (#82)
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/mirror.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
Due: none

fix(ci): unbreak the workflow YAML, then add a COMPLETE actions.lock
  .github/workflows/actions.lock
  .github/workflows/boj-build.yml
  .github/workflows/casket-pages.yml
  .github/workflows/codeql.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/generator-generic-ossf-slsa3-publish.yml
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/instant-sync.yml
  .github/workflows/main-estate-audit.yml
  .github/workflows/mirror.yml
  .github/workflows/pages.yml
  .github/workflows/push-email-notify.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/workflow-linter.yml
Due: none

fix(ci): unbreak the workflow YAML, then add a COMPLETE actions.lock (#83)
  .github/workflows/actions.lock
  .github/workflows/boj-build.yml
  .github/workflows/casket-pages.yml
  .github/workflows/codeql.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/generator-generic-ossf-slsa3-publish.yml
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/instant-sync.yml
  .github/workflows/main-estate-audit.yml
  .github/workflows/mirror.yml
  .github/workflows/pages.yml
  .github/workflows/push-email-notify.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/workflow-linter.yml
Due: none

docs(policy): ban ReScript explicitly and pin production installs
  .claude/CLAUDE.md
Due: none

fix(ci): unbreak workflow YAML and add a complete actions.lock
  .github/workflows/actions.lock
  .github/workflows/boj-build.yml
  .github/workflows/casket-pages.yml
  .github/workflows/codeql.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/generator-generic-ossf-slsa3-publish.yml
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/instant-sync.yml
  .github/workflows/main-estate-audit.yml
  .github/workflows/mirror.yml
  .github/workflows/pages.yml
  .github/workflows/push-email-notify.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/workflow-linter.yml
Due: none

fix(ci): unbreak workflow YAML and add a complete actions.lock (#84)
  .github/workflows/actions.lock
  .github/workflows/boj-build.yml
  .github/workflows/casket-pages.yml
  .github/workflows/codeql.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/generator-generic-ossf-slsa3-publish.yml
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/instant-sync.yml
  .github/workflows/main-estate-audit.yml
  .github/workflows/mirror.yml
  .github/workflows/pages.yml
  .github/workflows/push-email-notify.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/workflow-linter.yml
Due: none

policy: Bun is tier 1, Deno is being removed (#81)
  .claude/CLAUDE.md
Due: none

fix(ci): the invisible-character gate never matched anything
  .github/workflows/dogfood-gate.yml
Due: none

feat(labels): estate label tooling + auto-triage for new issues
  .github/label-classifier.json
  .github/labels.json
  .github/scripts/classify-issue.jq
  .github/workflows/actions.lock
  .github/workflows/label-triage.yml
  .github/workflows/labels.yml
Due: none

feat(labels): estate label tooling + auto-triage for new issues (#86)
  .github/label-classifier.json
  .github/labels.json
  .github/scripts/classify-issue.jq
  .github/workflows/actions.lock
  .github/workflows/label-triage.yml
  .github/workflows/labels.yml
Due: none

fix: AGENTIC licence line + a2ml-validate-action repin (standards#646, #669)
  .machine_readable/6a2/AGENTIC.a2ml
Due: none

Path conditions:
  setup:ocaml: any of: parser/**/*, .gitlab-ci.yml
  setup:elixir: any of: orchestrator/**/*, .gitlab-ci.yml
  setup:julia: any of: learning/**/*, .gitlab-ci.yml
  setup:rescript: any of: visualization/**/*, .gitlab-ci.yml
  build:parser: any of: parser/**/*, .gitlab-ci.yml
  build:orchestrator: any of: orchestrator/**/*, .gitlab-ci.yml
  build:learning: any of: learning/**/*, .gitlab-ci.yml
  build:visualization: any of: visualization/**/*, .gitlab-ci.yml
  test:parser: any of: parser/**/*, .gitlab-ci.yml
  test:orchestrator: any of: orchestrator/**/*, .gitlab-ci.yml
  test:learning: any of: learning/**/*, .gitlab-ci.yml
  test:visualization: any of: visualization/**/*, .gitlab-ci.yml
  lint:elixir: any of: orchestrator/**/*, .gitlab-ci.yml
  lint:markdown: any of: **.md, .gitlab-ci.yml
